*, *::before, *::after {
  box-sizing: border-box;
}

body {
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: $base-size;
  background: $white;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.solo-end-game-modal-wrapper {
    display: none;
  }

.multi-end-game-modal-wrapper {
    display: none;
  }

.mobile__menu__modal {
  display: none;
}

.mobile__menu__modal.on {
  display: block;
}
