//  COLORS
$orange: hsl(37, 98%, 54%);
$lightblue: hsl(203, 28%, 79%);
$mediumblue: hsl(205, 30%, 27%);
$darkblue: hsl(206, 45%, 15%);
$lightgray: hsl(0, 0%, 95%);
$pigeon: hsl(203, 22%, 55%);
$sky: hsl(205, 37%, 55%);
$white: hsl(0, 0%, 99%);
$black: hsl(0, 0%, 0%);
$info: hsl(203, 25%, 90%);

//  FONT
$font-text: 'Atkinson Hyperlegible', sans-serif;
$font-normal: 400;
$font-bold: 700;

$base-size: 1rem;

//  HELPERS
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.memory__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

.heading__h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
}

.heading__h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading__h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.563rem;
}

.text__body {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.number__6x6 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.438rem;
}

.number__4x4 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.313rem;
}
