.start__game__widget {
  background-color: $darkblue;
  display: flex;
  justify-content: center;
  height: fit-content;

  h1 {
    color: $white;
  }

  p {
    color: $pigeon;
  }
}

.start__game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.875rem;
  margin-top: 9.625rem;
  margin-bottom: 11.438rem;
}

.start__game__options {
  background: $white;
  border-radius: 1.25rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.game__options__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options__box__small {
  display: flex;
  gap: 1.375rem;
}

.options__box__medium {
  display: flex;
  gap: 1.875rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 26px;
  color: $white;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  background-color: $lightblue;

  &:hover {
    background-color: $sky;
  }
}

.btn__small {
  width: 100%;
  height: 52px;
}

.btn__medium {
  width: 100%;
  height: 52px;
}

.btn__big {
  cursor: pointer;
  width: 541px;
  height: 70px;
  border: none;
  border-radius: 35px;
  color: $white;
  background-color: $orange;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  &:hover {
    opacity: 0.7;
  }
}

.activeBtn {
  background-color: $darkblue;
}

@media (max-width: 540px) {
  .btn__big {
    width: 100%;
  }
}
